@font-face {
    font-family: 'neue_einstellungnormal';
    src: url('neueeinstellung-normal.woff2') format('woff2'),
         url('neueeinstellung-normal.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}